# tmp
tmp/**/
tmp/*

# No need for log files; they should be local per machine
log/*

# We do not want local images copied to the repo
app/assets/images/photos/*
app/assets/images/.DS_Store

.DS_Store
app/views/.DS_Store

# Specific Ruby/RVM stuff
.rvmrc*
Gemfile.lock

# We do not need the databases
db/*.sqlite3

# nor do we need the automatically-generated schema migration file
db/schema.rb

# The user should add his own credentials to the GoodReads configuration file
# The API key and secret can be generated at http://www.goodreads.com/api/keys
config/initializers/goodreads.rb
