div class="articles"
  - @articles.each do |article|
    == render partial: 'articles/show', locals: { article: article }

  == will_paginate @articles, renderer: WillPaginate::ActionView::LinkRenderer
