div class="article"
  == render partial: 'articles/show', locals: { article: @article }

  /== render partial: 'comments/index', locals: { commentable: @article }
  /== render partial: 'comments/form', locals: { commentable: @article }
