<div class="content-intro">
  <h1>Admin</h1>
</div>

<ul class="new-content">
  <li id="photos">
    <div>
      <%= link_to 'Add new photo', new_photo_url %>
    </div>
  </li>
  <li id="blog">
    <div>
      <%= link_to 'Add new gazette', gazettes_url %>
    </div>
  </li>
</ul>

<div class="logout">
  <%= link_to 'Logout', logout_url %>
</div>