<div class="books">
<ul class="book book-header">
  <li id="image" />
  <li id="title">
    <span>Book</span>
  </li>
  <li id="author">
    <span>Author</span>
  </li>
  <li id="read-at">
    <span>Read Date</span>
  </li>
</ul>

<% @sorted_books.each do |book| %>
  <ul class="book book-metadata">
    <li id="image">
      <img src="<%= book.book.image_url %>" alt="book cover image" />
    </li>
    <li id="title">
      <%= book.book.title %>
    </li>
    <li id="author">
      <%= book.book.authors.author.name %>
    <li id="read-at">
      <% if book.read_at != nil %>
        <% read_date = DateTime.strptime(book.read_at, "%a %b %d %H:%M:%S %z %Y") %>
        <%= read_date.strftime("%B %Y") %>
      <% end %>
    </li>
  </ul>
<% end %>
</div>