<%# Locals: %>
<%# photo %>

<% photo_date = photo.taken_date.strftime("%b %-d at %H:%M") %>
<div class="col-sm-6 col-md-4" id="item_<%= photo.id %>">
  <div class="thumbnail">
    <%= link_to image_tag(@local_photos_dir + photo.thumbnail_fichier.filename, class: "photo-thumbnail"), photo_path(photo, tags: params[:tags]) %>
    <div class="caption">
      <h3><%= strip_tags(photo.title) %></h3>
      <p><%= strip_tags(photo_date) %></p>
    </div>
  </div>
</div>
