<% if @all_tags.count > 0 %>
<ul class="select-tags-list">
  <% @all_tags.each do |tag| %>
  <% is_checked = @selected_tag_name == tag.name %>
  <li>
    <%= check_box_tag strip_tags(tag.name), strip_tags(tag.name), checked=is_checked, options={ class: "parent checkbox" } %>
    <span class="text" id="<%= strip_tags(tag.name) %>"><%= strip_tags(tag.name) %></span>
  </li>
  <% end %>
  <li>
    <input class="clear-tags-button" type="submit" value="clear" />
  </li>
</ul>
<% end %>

<%= render partial: 'photos/index', locals: { photos: @photos } %> 