// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.new-content {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	height: 100px;
	font-size: 2em;
	
	li {
		float :left;
		
		&#photos {
			margin: 0 1em 0 0;
		}
		
		&#blog {
			margin: 0 0 0 1em;
		}
	}
}

.logout {
	font-size: 2em;
	clear: both;
}