/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$max-page-width: 900px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$mucho-text-color: black;
$poco-text-color: gray;
$background-color: white;
$main-content-left-padding: 10px;

html {
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	color: #000;
	background-color: #FFF;
	
	h1 {
		font-size: 3em;
		height: 0.5em;
		color: $header-color;
		
		a {
			color: $header-color;
		}
	}
	
	h2 {
		font-size: 1.6em;
		margin: 0;
		font-weight: normal;
		color: $header-color;
	}
	
	h3 {
		margin: 0.2em 0 0.2em 0;
		color: $header-color;
	}
	
	p {
		color: $mucho-text-color;
		font-size: 1.6em;
	}
	
	//p, ul, ol {
	//	margin-top: 0;
	//	line-height: 180%;
	//}

	header {
		height: 10em;
		width: $max-page-width;
		margin: 0 auto 2em auto;
		border-bottom: 1px solid black;
		
		a {
			background: none;
			text-decoration: none;
		}
		
		ul.navigation {
			font-size: 1.6em;
			margin: 0;
			padding: 1em 0 0 0;
			list-style: none;
			float: left;
			height: 1.5em;
			
			li {
				display: inline;
				float: left;
				
				a {
					text-decoration: none;
					padding-right: 1.2em;
					color: gray;
				}
			}
			
			li.selected-item {
				a {
					color: black;
				}
			}
		}
	}
	
	.page {
		width: $max-page-width;
		margin: 0 auto;
		
		.text-content {
			padding-left: $main-content-left-padding;
		}
	}
	
	footer {
		clear: both;
		padding: 3em 0;
		height: 6em;
		color: $poco-text-color;
		
		p {
			font-size: 1.2em;
			line-height: normal;
			text-align: center;
		}
	}
}