/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$max-page-width: 900px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$mucho-text-color: black;
$poco-text-color: gray;
$background-color: white;
$main-content-left-padding: 10px;

html {
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #FFF;
	
	h1 {
		font-size: 2em;
		height: 0.5em;
		color: $header-color;
		
		a {
			color: $header-color;
		}
	}
	
	h2 {
		margin: 0;
		font-weight: normal;
		color: $header-color;
	}
	
	h3 {
		margin: 0.2em 0 0.2em 0;
		color: $header-color;
	}
	
	p {
		color: $mucho-text-color;
        line-height: 1.4em;
	}
	
	a {
		text-decoration: none;
		color: $poco-text-color;
	}

	header {
		height: 6em;
		width: 100%;
		margin: 0 auto 1em auto;
		border-bottom: 1px solid black;
		background-color: white;
		z-index: 1;
		position: fixed;
		
		a {
			background: none;
			text-decoration: none;
		}

        ul.admin {
          margin: 0;
          padding: 1em 0 0 0;
          list-style: none;
          float: left;
          height: 1.5em;

          li {
            display: inline;
            float: left;

            a {
              text-decoration: none;
              padding-right: 1.2em;
              color: gray;
            }
          }
        }

		ul.navigation {
			margin: 0;
			padding: 1em 0 0 0;
			list-style: none;
			height: 1.5em;
			
			&#left {
				clear: both;
				float: left;
			
				li {
					float: left;
					padding-left: 1.2em;
				}
			}	
			
			&#right {
				float: right;
			
				li {
					float: right;
					padding-right: 1.2em;
				}
			}		
			
			li {
				display: inline;
				
				a {
					text-decoration: none;
					color: gray;
				}
			}
			
			li.selected-item {
				a {
					color: black;
				}
			}
		}
	}
	
	body {
		clear: both;
		margin: 0;
	}
	
	.page {
		margin: 0 1.2em;
		padding-top: 7em;
		
		.text-content {
          //font-size: 2.0em; // High font readability for creating new content
		}

        .field {
          input {
            font-size: inherit;
          }

          textarea {
            font-size: inherit;
          }
        }
	}
	
	footer {
		clear: both;
		padding: 3em 0;
		height: 2em;
		color: $poco-text-color;
		
		p {
			font-size: 0.75em; // 12px
			line-height: normal;
			text-align: center;
		}
	}
}