/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$max-page-width: 908px;
$text-color-primary: black;
$text-color-secondary: gray;

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 13px;
	color: #000;
	background-color: #FFF;
}

h1, h2, h3 {
	margin: 0;
	letter-spacing: -.05em;
	font-weight: normal;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

.menu-link {
	a, a:visited {
		background: url(application/img05.jpg) repeat-x left bottom;
		text-decoration: none;
		color: #C0BFBF;
	}
}

a:hover {
}

/* Header */

div.header {
	height: 100px;
	width: $max-page-width + 1px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	
	a {
		background: none;
		text-decoration: none;
		color: $text-color-primary;
	}
	
	ul {
		font-size: 16px;
		padding-top: 10px;
		padding-left: 0px;
		margin: 0px;
		list-style: none;
		
		li {
			display: inline;
			
			a {
				text-decoration: none;
				padding-right: 2em;
				color: $text-color-secondary;
			}
		}
	}
		
	h1 {
		//padding-top: 30px;
		font-size: 30px;
		text-transform: uppercase;
	}
}

/* Page */

div.page {
	width: $max-page-width;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	border-left: 1px solid black;
}

/* Footer */

.footer {
	padding: 30px 0;
	height: 60px;
	color: $text-color-primary;
	font-size: 12px;
	
	p {
		line-height: normal;
		text-transform: uppercase;
		text-align: center;
	}

	a {
		color: $text-color-primary;
	}
}