/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */

body {
  padding: 70px 0 20px 0;
}

a.pure-button {
  &:hover {
    text-decoration: initial;
  }

  &:focus {
    text-decoration: initial;
  }
}

.button-error {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-warning {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-secondary {
  // color: white;
  // border-radius: 4px;
  // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
  }
