$border-color: rgb(240, 240, 240);
$max-page-width: 900px;
$max-photo-width: 800px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$text-color: gray;
$background-color: white;
$navigation-arrow-color: black;

.meta-data {
	font-size: 1.6em;
}