$border-color: rgb(240, 240, 240);
$max-page-width: 900px;
$max-photo-width: 800px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$text-color: gray;
$background-color: white;
$navigation-arrow-color: black;

.article {
  .date {
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 0.75em; // 12px
  }

  .gazette {
    font-weight: bold;
    font-size: 0.75em; // 12px
  }

  .content {
    color: rgb(66, 71, 74);
  }
}

.meta-data {
}

.select-photos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}