// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(240, 240, 240);
$max-page-width: 900px;
$max-photo-width: 800px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$text-color: gray;
$background-color: white;
$navigation-arrow-color: black;

div.commentary {
	color: $text-color;
	margin: 0 0 0 0;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0.2em 0 0.2em 0;
		}
	}
	
	span.user {
	}

	span.date {
		color: $text-color
	}

	#new-comment {
		display: none;
	}
}