// Place all the styles related to the curriculum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$max-page-width: 900px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$mucho-text-color: black;
$poco-text-color: gray;
$background-color: white;
$box-summary-color: rgb(174, 198, 218);

ul.first-list {
	float: left;
	height: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
	
	li#summary {
		float: left;
		width: 600px;
	}
	
	li#contact {
		float: left;
		width: 300px;
		
		ul.contact-methods-list {
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 1.4em;

			li {
				a {
					padding: 13px 0 13px 64px;
					text-decoration: none;
					color: $header-color;
				}
			}

			li#email {
				padding: 13px 0 23px;

				a {
					background: url('/assets/application/googleplus.png') no-repeat 0 50%;
				}
			}

			li#facebook {
				padding: 13px 0 23px;

				a {
					background: url('/assets/application/facebook.png') no-repeat 0 50%;
				}
			}

			li#linkedin {
				padding: 13px 0 13px;

				a {
					background: url('/assets/application/linkedin.png') no-repeat 0 50%;
				}	
			}
		}
	}
}

.experience {
	clear: both;
	line-height: 1.4em;
	
	div.date {
		font-size: inherit;
	}
}