// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(240, 240, 240);
$max-page-width: 900px;
$max-photo-width: 800px;
$header-color: black;
$link-color: rgb(174, 198, 218);
$text-color: gray;
$background-color: white;
$navigation-arrow-color: black;

ul.select-tags-list {
	font-size: 1.8em;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	color: $text-color;
	
	li {
		float: left;
		
		input.checkbox {
			margin-left: 0px;
			margin-right: 0px;
		}
		
		span.text {
			margin-right: 10px;
		}	
	}
}

ul.photos-list {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	
	li.photo-item {
		margin: 10px;
		width: 250px;
		text-align: left;
		float: left;
		height: 300px;
		overflow: hidden;
	
		.image-vertical-align {
			width: 250px;
			height: 250px;
			position: relative;
			
			.image-horizontal-align {
				position: absolute;
				width: 250px;
				bottom: 0px;
				
				img.photo-thumbnail {
					display: block;
					margin: auto;
				}
			}
		}
	
		span {
			color: $text-color;
			font-size: 1.6em;
		}
		
		span.photo-title {
			display: block;
			text-align: center;
		}
  	
		span.photo-datum {
			display: block;
			text-align: center;
		}
  	
		span.photo-description {
			display: block;
			overflow: hidden;
			text-align: center;
		}
  	
		span.photo-date {
			display: block;
			text-align: center;
		}
  	
		span.photo-statistics {
			display: block;
			text-align: center;
		}
		
		div.photo-tags {
			height: 100px;
			overflow: hidden;
		}
	}
}

div.photo-item {
	
	div.photo {
		display: block;
		float: left;
		margin-bottom: 1em;
		
		img {
			width: $max-photo-width;
		}
		
		ul.sizes-list {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 1.6em;
			height: 1em;
			
			li {
				float: left;
				padding-right: 1em;
				
				a {
					&:visited {
						color: blue;
					}

					&:hover {
						color: blue;
					}
				}
			}
		}
	}	
	
	div.navigate-photo-link {
		display: block;
		position: relative;
		width: 50px;
		float: left;

		a {
			display: block;
			position: absolute;
			color: $navigation-arrow-color;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	
	div.meta-data {
		clear: both;
		width: $max-photo-width;
		font-size: 1.6em;
		
		ul.tags-list {
			padding: 0;
			margin: 0 0 1em 0;
			list-style: none;
			height: 1em;
			
			li {
				float: left;
				color: $text-color;
			}
			
			li.seperation-item {
				margin: 0 0.3em 0 0.3em;
				color: $text-color;
			}
		}
		
		div.description {
			clear: both;
			margin-top: 2em;
			color: $text-color;
			margin: 0 0 1em 0;
		}
  	
		div.commentary {
			color: $text-color;
			margin: 0 0 0 0;
			
			span.user {
			}
  	
			span.date {
				color: $text-color
			}
  	
			#new-comment {
				display: none;
			}
		}
	}

	div.indented {
		margin-left: 50px;
	}
}