// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(240, 240, 240);
$max-page-width: 908px;
$max-photo-width: 800px;
$link-color: black;
$text-color-primary: black;
$text-color-secondary: gray;

div.tags-list {
	font-size: 18px;
	color: $text-color-primary;

	.heading {
		display: inline-block;
		width: 50px;
		vertical-align: top;
	}

	form.select-tags-form {
		display: inline-block;
		width: 800px;
		color: $text-color-secondary;
		
		.tag-inline-block {
			display: inline-block;
			
			input.checkbox {
				margin-left: 0px;
				margin-right: 0px;
			}
			
			span.checkbox-text {
				margin-right: 10px;
			}	
		}
	}
}

div.photos-list {
	div.photos-list-item {
		margin: 25px;
		width: 250px;
		text-align: left;
		font-size: x-large;
		display: inline-block;
		overflow: hidden;
	
		span {
			color: $text-color-secondary;
			font-size: 0.7em;
		}
		
		span.photo-title {
			display: block;
			text-align: center;
		}
  	
		span.photo-datum {
			display: block;
			text-align: center;
		}
  	
		span.photo-description {
			display: block;
			overflow: hidden;
			text-align: center;
		}
  	
		span.photo-date {
			display: block;
			text-align: center;
		}
  	
		span.photo-statistics {
			display: block;
			text-align: center;
		}
		
		div.photo-tags {
			height: 100px;
			overflow: hidden;
		}
  	
		img.photo-thumbnail {
			display: block;
			margin: auto;
		}
	}
}

div.tags-padding {
	padding: 0 20px;
}

div.photo-item {
	font-size: 16px;
	
	div.photo {
		display: inline-block;
		
		div img {
			width: $max-photo-width;
		}
		
		a {
			&:visited {
			}

			&:hover {
			}
		}
	}	
	
	div.navigate-photo-link {
		display: inline-block;
		position: relative;
		width: 50px;

		a {
			display: block;
			width: 50px;
			color: $link-color;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			font-size: 36px;

			&:visited {
				color: $link-color;
			}

			&:hover {
				color: $link-color;
			}
		}
	}
	
	div.meta-data {
		background-color: $border-color;
		width: $max-photo-width;
		
		.tags {
			.heading {
				display: inline-block;
				width: 50px;
				vertical-align: top;
			}
			
			div.tags-list {
				display: inline-block;
				width: 700px;
				font-size: 18px;
				color: $text-color-primary;
				
				span.tag {
					color: $text-color-secondary;	
				}
			}
		}
		
		div.description {
			width: 800px;
			color: $link-color;
		}
  	
		div.commentary {
			color: $text-color-primary;
			
			span.user {
			}
  	
			span.date {
				color: $text-color-primary
			}
  	
			#new-comment {
				display: none;
			}
		}
	}

	div.indented {
		margin-left: 54px;
	}
}