// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.register {
  max-width: 330px;
  margin: 2em auto;
}
