// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-dropbox {
	width: inherit;
	height: 400px;
	background-color: #0DF;
	margin-bottom: 10px;
	
	input#file-field {
		// We do not need to display the form. 
		// We only want the user to drag and drop files
		display: none;
	}
	
	.instructions {
		margin-left: auto;
		margin-right: auto;
		padding-top: 200px;
		padding-bottom: 200px;
		color: gray;
		width: 7em;
	}
}

.preview {
	margin-top: 10px;
}