// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(240, 240, 240);
$max-page-width: 908px;
$link-color: black;
$text-color-primary: black;
$text-color-secondary: gray;