// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: rgb(240, 240, 240);
$max-page-width: 900px;
$link-color: black;
$text-color-primary: black;
$text-color-secondary: gray;

ul.select-existing-tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}