<div class="main-content">
  <p>
    I am a web programmer.
  </p>
  
  <p>
    I specialize in the creation of dynamic web websites, built from the ground up on powerful databases and tested code.
  </p>
  
  <p>
    Ruby on Rails and C# on ASP.NET are my tools of choice.
  </p>
  
  <h1>Experience</h1>
  <p>
    Showcare Event Solutions
    <br/ >
    <span class="date">October 2010 - February 2012</span>
  </p>
  <ul>
    <li>Worked in a small team developing next generation registration software for large-scale international conferences and events</li>
    <li>Software used by over 20 conferences per year, serving 100,000s of customers</li>
    <li>Adept in .NET and various software engineering paradigms such as database-driven website development, object-oriented design, object model to relational database modeling, URL routing, and database schema design for large-scale applications</li>
    <li>Used T-SQL, functional programming, and LINQ</li>
    <li>Familiar with the ASP.NET page life cycle, ASP.NET controls, and the ViewState and Session variables</li>
  </ul>
  
  <p>
    danofer.com
    <br />
    <span class="date">June 2012 - December 2012<span>
  </p>
  <ul>
    <li>Hobby amateur photography website in Ruby on Rails 3.2</li>
    <li>Adhered to MVC practices and a Test-driven development process</li>
    <li>Used Ruby language features such as functional programming and proper naming conventions of constants, variables, methods, classes, and modules</li>
    <li>Used ImageMagick and the associated RMagick gem for image processing; and the bcrypt-ruby gem for password hashing</li>
    <li>Development environment consisted of OS X with TextMate, SQLite and iTerm2</li>
    <li>Published on a Ubuntu 12.04 server on the Windows Azure cloud</li>
    <li>Source code repository on github https://github.com/ofer987/Numerous</li>
  </ul>
  
  <p>
    Zodiac Aerospace
    <br />
    <span class="date">February 2009 - September 2010</span>
  </p>
  <ul>
    <li>ERP based system that managed and stored data pertaining to the company’s business</li>
    <li>Collaborated with other developers and business analysts on the analysis, design, and implementation of database driven applications</li>
    <li>Responsible for understanding business analyst’s requirements and delivering appropriate solutions that fit their needs</li>
    <li>Used Progress 4GL, C#, ASP, .NET, HTML, JavaScript, and Perl</li>
  </ul>
  
  <h1>Education</h1>
  <p>
    University of Toronto
    <br />
    Electrical Engineering BASc
    <br />
    <span class="date">September 2004 - June 2008<span>
  </p>
  
  <p>
    University of Toronto – da Vinci Engineering Enrichment Program
    <br>
    <span class="date">Spring 2003</span>
  </p>
  <ul>
    <li>University of Toronto enrichment program for high school students interested in engineering</li>
    <li>Studied general topics in computer engineering with particular emphasis on advanced programming techniques and artificial intelligence</li>
  </ul>
</div>