<ul class="first-list">
  <li id="summary">
    <p>
      I am a web programmer.
    </p>
    
    <p>
      I specialize in the creation of dynamic web websites, built from the ground up on powerful databases and tested code.
    </p>
    
    <p>
      Ruby on Rails and C# on ASP.NET are my tools of choice.
    </p>
  </li>
  <li id="contact">
    <ul class="contact-methods-list">
      <li id="email">
        <a href="mailto:ofer987@gmail.com">ofer987@gmail.com</a>
      </li>
      <li id="facebook">
        <a href="http://www.facebook.com/ofer987">Facebook</a>
      </li>
      <li id="linkedin">
        <a href="http://ca.linkedin.com/in/ofer987">LinkedIn</a>
      </li>
    </ul>
  </li>
</ul>

<div class="experience">
  <h2>Experience</h2>
  <h3>Ficstar Software</h3>
  <div class="location">Toronto, Ontario, Canada</div>
  <div class="date">July 2013 - Present</div>
  <ul>
    <li>Develop web crawlers to scour the web in search of useful information for our clients</li>
    <li>Solution developed in C# on top of the Microsoft .NET 4.5 framework</li>
    <li>Used agile development methodology for team management, and design patterns in code</li>
    <li>Test-driven development</li>
  </ul>
  
  <h3>Showcare Event Solutions</h3>
  <div class="location">Montreal, Quebec, Canada</div>
  <div class="date">October 2010 - February 2012</div>
  <ul>
    <li>Developed next-generation software for managing large-scale conferences and events</li>
    <li>World-leading software used by dozens of conferences per year, with 100,000s of users</li>
    <li>Implemented in .NET using object-oriented design, relational database modeling, URL-routing, and database schema design for large-scale applications</li>
    <li>Utilized T-SQL, object-oriented programming, functional programming, LINQ, ASP.NET page life cycle, ASP.NET controls, and the ViewState and Session variables</li>
    <li>Used XQuery to transform XML information stored in a SQL Server database</li>
    <li>Designed the front-end using HTML, CSS, and JavaScript with jQuery</li>
    <li>Development environment in Windows 7 with Visual Studio 2010, and ReSharper for extra functionality and code navigation, coupled with StyleCop to ensure proper code guidelines</li>
  </ul>
  
  <h3>www.DanOfer.com - Hobby Photography Website</h3>
  <div class="date">June 2012 - March 2013</div>
  <ul>
    <li>Designed and developed my personal website from scratch</li>
    <li>Coded in Ruby on Rails 3.2 while adhering to MVC practices and to a test-driven development process</li>
    <li>Used Ruby language features such as functional programming and proper naming conventions for constants, variables, methods, classes, and modules</li>
    <li>Used ImageMagick and the associated RMagick gem for image processing; and the bcrypt-ruby gem for password hashing</li>
    <li>Designed the front-end using HTML, CSS, and CoffeeScript with jQuery</li>
    <li>Development environment in OS X with TextMate, SQLite, and iTerm2</li>
    <li>Published on a Ubuntu 12.04 server on the Windows Azure cloud</li>
    <li>Source code repository on github https://github.com/ofer987/Numerous</li>
  </ul>
  
  <h3>C&amp;D Zodiac Aerospace</h3>
  <div class="location">Montreal, Quebec, Canada</div>
  <div class="date">February 2009 - September 2010</div>
  <ul>
    <li>Implemented an Enterprise Resource Planning (ERP) based system that managed and stored data pertaining to the company’s business</li>
    <li>Collaborated with other developers and business analysts on the analysis, design, and implementation of database driven applications</li>
    <li>Responsible for understanding business analyst’s requirements and delivering appropriate solutions that fit their needs</li>
    <li>Used Progress 4GL, C#, ASP, .NET, HTML, JavaScript, and Perl</li>
  </ul>
  
  <h2>Education</h2>
  <h3>University of Toronto</h3>
  <div>Electrical Engineering BASc</div>
  <div class="date">September 2004 - June 2008</div>
</div>