<div class="text-content main-content">
  <p>
    I am a web programmer.
  </p>
  
  <p>
    I specialize in the creation of dynamic web websites, built from the ground up on powerful databases and tested code.
  </p>
  
  <p>
    Ruby on Rails and C# on ASP.NET are my tools of choice.
  </p>
  
  <p>
    I can be contacted at <a href="mailto:ofer987@gmail.com">ofer987@gmail.com</a>, <a href="http://www.facebook.com/ofer987">Facebook</a>, and <a href="http://ca.linkedin.com/in/ofer987">LinkedIn</a>
  </p>
  
  <h1>Experience</h1>
  <p>
    <div>Showcare Event Solutions</div>
    <div class="location">Montreal, Quebec, Canada</div>
    <div class="date">October 2010 - February 2012</div>
  </p>
  <ul>
    <li>Developed next-generation software for managing large-scale conferences and events</li>
    <li>World-leading software used by dozens of conferences per year, with 100,000s of users</li>
    <li>Implemented in .NET using object-oriented design, relational database modeling, URL-routing, and database schema design for large-scale applications</li>
    <li>Utilized T-SQL, object-oriented programming, functional programming, LINQ, ASP.NET page life cycle, ASP.NET controls, and the ViewState and Session variables</li>
    <li>Used XQuery to transform XML information stored in a SQL Server database</li>
    <li>Designed the front-end using HTML, CSS, and JavaScript with jQuery</li>
    <li>Development environment in Windows 7 with Visual Studio 2010, and ReSharper for extra functionality and code navigation, coupled with StyleCop to ensure proper code guidelines</li>
  </ul>
  
  <p>
    <div>www.DanOfer.com - Hobby Photography Website</div>
    <div class="date">June 2012 - March 2013</div>
  </p>
  <ul>
    <li>Designed and developed my personal website from scratch</li>
    <li>Coded in Ruby on Rails 3.2 while adhering to MVC practices and to a test-driven development process</li>
    <li>Used Ruby language features such as functional programming and proper naming conventions for constants, variables, methods, classes, and modules</li>
    <li>Used ImageMagick and the associated RMagick gem for image processing; and the bcrypt-ruby gem for password hashing</li>
    <li>Designed the front-end using HTML, CSS, and CoffeeScript with jQuery</li>
    <li>Development environment in OS X with TextMate, SQLite, and iTerm2</li>
    <li>Published on a Ubuntu 12.04 server on the Windows Azure cloud</li>
    <li>Source code repository on github https://github.com/ofer987/Numerous</li>
  </ul>
  
  <p>
    <div>C&amp;D Zodiac Aerospace</div>
    <div class="location">Montreal, Quebec, Canada</div>
    <div class="date">February 2009 - September 2010</div>
  </p>
  <ul>
    <li>Implemented an Enterprise Resource Planning (ERP) based system that managed and stored data pertaining to the company’s business</li>
    <li>Collaborated with other developers and business analysts on the analysis, design, and implementation of database driven applications</li>
    <li>Responsible for understanding business analyst’s requirements and delivering appropriate solutions that fit their needs</li>
    <li>Used Progress 4GL, C#, ASP, .NET, HTML, JavaScript, and Perl</li>
  </ul>
  
  <h1>Education</h1>
  <p>
    <div>University of Toronto</div>
    <div>Electrical Engineering BASc</div>
    <br />
    <div class="date">September 2004 - June 2008</div>
  </p>
</div>