<!DOCTYPE html>
<html>
<head>
  <title>Numerous</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	  <div class="logo">
	    <h1><a href="/">Dan Ofer's Website</a></h1>
	  </div>
		<!-- end div.header -->
		<div class="main-menu">
		  <ul>
		    <li><a href="/">Home</a></li>
		    <li class="current_page_item"><a href="/">Photos</a></li>
		  </ul>
		</div>
		<!-- end div.main-menu -->
	</div>
	<br/>
	
	<div class="page">
		<%= yield %>
	</div>
	<!-- end #page -->
	<div class="footer">
	  <p>Copyright (c) 2012 danofer.com. All rights reserved. Design by Dan Jakob Ofer.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
